<h1>Listing Zips</h1>

<table id="dataTable" data-datatable-server class="display dataTable table" >
  <thead>
    <tr>
      <th>Zip code</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
</table>

<span><%= link "New Zip", to: Routes.zip_path(@conn, :new) %></span>
